tavily
fastapi
uvicorn
python-dotenv
openai
langchain 
langchain-groq
requests
pydantic
pandas
langchain_core
langgraph
pymongo[srv]
dnspython
python-jose[cryptography]
python-multipart
email-validator
openpyxl
pytest
